@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Multi user sample application</h1>
    <p>
        <a href="/home/organizations/" class="btn btn-primary btn-lg">View organizations &raquo;</a>
    </p>
</div>

